:host {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
}

.item-info {
  display: flex;
  flex-direction: column;

  .item-name {
    font-weight: 600;
    color: var(--text);
  }
  .item-value {
    font-size: 16px;
    font-weight: 400;
    color: var(--muted);
  }
}
