:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  white-space: pre-line;

  h1 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 26px;
  }
}
